<h1 class="titulo">Historia de los Juegos de mesa Clásicos y Modernos</h1>
<div></div>

<div class="slide">
  <div class="imagen">
    <img src="./../../../assets/img/juegosSapiensHistoria.jpg" alt="Historia" class="image" />
  </div>
  <div class="texto">
    <h2>{{ "historia.antigua" | translate }}</h2>
    <div class="texto">{{ "historia.txtAntigua" | translate }}</div>
  </div>
</div>

<div class="slide">
  <div class="texto">
    <h2>Antigüedad</h2>
    <div class="texto">
      Los juegos de mesa tienen sus raíces en la antigüedad, con juegos como el
      Senet en el antiguo Egipto, que se remonta a alrededor del 3500 a.C. Este
      juego era popular entre los faraones y se jugaba tanto por diversión como
      como parte de rituales funerarios.
    </div>
  </div>
  <div class="imagen">
    <img src="./../../../assets/img/edad_media.jpg" alt="Historia" class="image" />
  </div>
</div>

<div class="slide">
  <div class="imagen">
    <img class="image" src="./../../../assets/img/ajedrez.jpg" alt="Ajedrez" />
  </div>
  <div class="texto">
    <h2>Ajedrez</h2>
    <div class="texto">
      Uno de los juegos de mesa más antiguos y populares es el ajedrez, que se
      cree que se originó en la India alrededor del siglo VI d.C. Desde
      entonces, el ajedrez se ha convertido en uno de los juegos estratégicos
      más jugados en todo el mundo.
    </div>
  </div>
</div>

<div class="slide">
  <div class="texto">
    <h2>Juegos de mesa en la Edad Media</h2>
    <div class="texto">
      Durante la Edad Media, los juegos de mesa como el backgammon y el mancala
      se volvieron populares en diversas culturas de todo el mundo. Estos juegos
      a menudo se jugaban como una forma de entretenimiento en la corte real y
      entre la nobleza.
    </div>
  </div>
  <div class="imagen">
    <img class="image" src="./../../../assets/img/backgammon.jpg" alt="Backgammon" />
  </div>
</div>

<div class="slide">
  <div class="imagen">
    <img class="image" src="./../../../assets/img/monopoly.png" alt="Monopoly" />
    <img class="image" src="./../../../assets/img/scrabble.jpg" alt="Scrabble" />
  </div>
  <div class="texto">
    <h2>Renacimiento y Revolución Industrial:</h2>
    <div class="texto">
      Durante el Renacimiento y la Revolución Industrial, los juegos de mesa se
      hicieron más accesibles a medida que la impresión permitía la producción
      en masa de juegos como el Monopoly y el Scrabble. Estos juegos se
      convirtieron en elementos básicos en muchos hogares y continuaron
      evolucionando con el tiempo.
    </div>
  </div>
</div>

<div class="slide">
  <div class="texto">
    <h2>Siglo XX y XXI:</h2>
    <div class="texto">
      En el siglo XX, la popularidad de los juegos de mesa continuó creciendo
      con la introducción de juegos como Risk, Trivial Pursuit y Settlers of
      Catan. Con el advenimiento de Internet, los juegos de mesa en línea
      también se volvieron populares, permitiendo a las personas jugar con
      amigos y desconocidos de todo el mundo.
    </div>
  </div>
  <div class="imagen">
    <img class="image" src="./../../../assets/img/Risk.jpg" alt="Risk" />
    <img class="image" src="./../../../assets/img/Catan.jpg" alt="Catan" />
  </div>
  <hr>
</div>

<div class="slide">
  <div class="imagen">
    <img class="image" src="./../../../assets/img/Ticket-to-ride.jpg" alt="Aventureros al tren" />
    <img class="image" src="./../../../assets/img/carcassonne.jpg" alt="Carcassonne" />
  </div>
  <div class="texto">
    <h2>Renacimiento de los juegos de mesa modernos</h2>
    <div class="texto">
      En las últimas décadas, ha habido un renacimiento de los juegos de mesa
      modernos, con una amplia variedad de juegos nuevos y emocionantes que
      abarcan una variedad de géneros y mecánicas. Juegos como Ticket to Ride,
      Carcassonne y Pandemic han ganado popularidad tanto entre jugadores
      casuales como entre entusiastas más dedicados.
    </div>
  </div>
</div>
