<div class="centrar">
  <ul class="navegacion">
    <li class="nav-item"><a (click)="scrollToSection('antiguedad')">{{ "historia.antiguedad" | translate }}</a></li>
    <li class="nav-item"><a (click)="scrollToSection('ajedrez')">{{ "historia.ajedrez" | translate }}</a></li>
    <li class="nav-item"><a (click)="scrollToSection('edad_media')">{{ "historia.edad-media" | translate }}</a></li>
    <li class="nav-item"><a (click)="scrollToSection('renacimiento')">{{ "historia.revolucion" | translate }}</a></li>
    <li class="nav-item"><a (click)="scrollToSection('sigloxx')">{{ "historia.siglo" | translate }}</a></li>
    <li class="nav-item"><a (click)="scrollToSection('moderno')">{{ "historia.moderno" | translate }}</a></li>
  </ul>
</div>

<h1 class="titulo">{{ "historia.historia-clasicos-modernos" | translate }}</h1>
<div></div>
<div class="slide">
  <div class="imagen"><img src="./../../../assets/img/juegosSapiensHistoria.jpg" alt="Historia" class="image" /></div>
  <div class="texto"><h2>{{ "historia.antigua" | translate }}</h2>
    <div class="texto">{{ "historia.txtAntigua" | translate }}</div>
  </div>
</div>
<div class="slide" id="antiguedad">
  <div class="texto">
    <h2>{{ "historia.antiguedad" | translate }}</h2>
    <div class="texto"> {{ "historia.txtantiguedad" | translate }} </div>
  </div>
  <div class="imagen">
    <img src="./../../../assets/img/edad_media.jpg" alt="Historia" class="image" />
  </div>
</div>

<div class="slide" id="ajedrez">
  <div class="imagen">
    <img class="image" src="./../../../assets/img/ajedrez.jpg" alt="Ajedrez" />
  </div>
  <div class="texto">
    <h2>{{ "historia.ajedrez" | translate }}</h2>
    <div class="texto"> {{ "historia.txtajedrez" | translate }} </div>
  </div>
</div>
<div class="tipoboton" id="section3">
  <button class="botonArriba" (click)="scrollToTop()" >{{ "historia.volver" | translate }}</button>
</div>

<div class="slide" id="edad_media">
  <div class="texto">
    <h2>{{ "historia.juegos-edad-media" | translate }}</h2>
    <div class="texto"> {{ "historia.txtedad-media" | translate }} </div>
  </div>
  <div class="imagen">
    <img class="image" src="./../../../assets/img/backgammon.jpg" alt="Backgammon" />
  </div>
</div>

<div class="tipoboton">
  <button class="botonArriba" (click)="scrollToTop()" >{{ "historia.volver" | translate }}</button>
</div>

<div class="slide" id="renacimiento">
  <div class="imagen">
    <img class="image" src="./../../../assets/img/monopoly.png" alt="Monopoly" />
    <img class="image" src="./../../../assets/img/scrabble.jpg" alt="Scrabble" />
  </div>
  <div class="texto">
    <h2>{{ "historia.revolucion-industrial" | translate }}</h2>
    <div class="texto"> {{ "historia.txtRevolucion" | translate }} </div>
  </div>
</div>

<div class="tipoboton">
  <button class="botonArriba" (click)="scrollToTop()" >{{ "historia.volver" | translate }}</button>
</div>

<div class="slide" id="sigloxx">
  <div class="texto">
    <h2>{{ "historia.siglo" | translate }}</h2>
    <div class="texto"> {{ "historia.txtsiglo" | translate }} </div>
  </div>
  <div class="imagen">
    <img class="image" src="./../../../assets/img/Risk.jpg" alt="Risk" />
    <img class="image" src="./../../../assets/img/Catan.jpg" alt="Catan" />
  </div>
  <hr>
</div>

<div class="tipoboton">
  <button class="botonArriba" (click)="scrollToTop()" >{{ "historia.volver" | translate }}</button>
</div>

<div class="slide" id="moderno">
  <div class="imagen">
    <img class="image" src="./../../../assets/img/Ticket-to-ride.jpg" alt="Aventureros al tren" />
    <img class="image" src="./../../../assets/img/carcassonne.jpg" alt="Carcassonne" />
  </div>
  <div class="texto">
    <h2>{{ "historia.renacimiento-juegos" | translate }}</h2>
    <div class="texto">{{ "historia.txtrenacimiento" | translate }}</div>
  </div>
</div>

<div class="tipoboton">
  <button class="botonArriba" (click)="scrollToTop()" >{{ "historia.volver" | translate }}</button>
</div>


