<div *ngIf="!correoEnviado">
  <form [formGroup]="contacto" (ngSubmit)="onSubmit()" class="contact-form">
    <label for="nombre" class="form-label">{{ "contacto.nombre" | translate }}</label>
    <input id="nombre" formControlName="nombre" required class="form-input" placeholder="Introduce su nombre">
    <div class="comprobar" *ngIf="isNombre">* Introduce el nombre</div>

    <label for="email" class="form-label">{{ "contacto.correo" | translate }}</label>
    <input id="email" type="email" formControlName="email" required class="form-input" placeholder="Introduce su correo">
    <div class="comprobar" *ngIf="isEmail">* Introduce el correo electronico</div>

    <label for="mensaje" class="form-label">{{ "contacto.mensaje" | translate }}</label>
    <textarea id="mensaje" formControlName="mensaje" class="form-textarea" placeholder="Introduce un mensaje"></textarea>
    <div class="comprobar" *ngIf="isMensaje">* Introduce el mensaje</div>

    <button type="submit" (click)="enviarCorreo()" class="form-button">{{ "contacto.enviar" | translate }}</button>
  </form>
</div>

<div *ngIf="correoEnviado" class="send-confirmation">
  <h2 class="send-confirmation-title">{{ "contacto.mensajeEnviado" | translate }}</h2>
  <p class="send-confirmation-name">{{ "contacto.nombre" | translate }}: {{ contacto.get('nombre')?.value }}</p>
  <p class="send-confirmation-email">{{ "contacto.correo" | translate }}: {{ contacto.get('email')?.value }}</p>
  <p class="send-confirmation-phone">{{ "contacto.telefono" | translate }}: {{ contacto.get('telefono')?.value }}</p>
  <p class="send-confirmacion-mensaje">{{ "contacto.mensaje" | translate }}: {{ contacto.get('mensaje')?.value }}</p>
</div>
