body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 40px;
  width: 75%;
  margin-left: 100px;
}

.juego {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.juego h3 {
  margin-top: 0;
}

.imagenJuego {
  width: 100px;
}

.fondoPagina {
  background-image: url("./../../../assets/img/fondo_pagina.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.disponible {
  color: green;
}

.no_disponible {
  color: red;
}
