<!--
<h1>Example of Angular Search Filter</h1>
<div class="container">
    <div class="search-name">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder=" SEARCH  ">
    </div>
    <ul *ngFor="let name of juegos | filter:searchText">
        <li>
            <span>{{name.country}}</span>
        </li>
    </ul>
</div> -->








<div class="container" onclick="verJuego()">
  <!-- Recorrer todos los juegos -->
  <div *ngFor="let juego of juegos" class="juego">
    <a [routerLink]="['/detalle-juegos', juego.id]">
      <h3>{{ juego.nombre }}</h3>
      <img
        [src]="getImagePath(juego.imagen_ruta)"
        alt="{{ juego.imagen_ruta }}"
        class="imagenJuego"
      />
      <p>Precio: {{ juego.precio }}</p>
      <p *ngIf="juego.stock > 0" class="disponible">
        Disponible. {{ juego.stock }} en stock
      </p>
      <p *ngIf="juego.stock == 0" class="no_disponible">Agotado</p>
    </a>
  </div>
</div>
