<div class="fondoPagina"></div>
<div class="contenedor">
  <div class="contenedor-logo">
    <img class="logo" src="../assets/img/titulo_sapiens.jpg" alt="Logo de la aplicación" />
    <h1 class="tituloPrincipal">
      {{ "titulo.principal" | translate }}
    </h1>
  </div>
  <app-navbar></app-navbar>
</div>

<nav class="idiomas">
  <button class="idioma-boton" (click)="cambiarIdioma('es')">{{ "idioma.español" | translate }}</button>
  <button class="idioma-boton" (click)="cambiarIdioma('en')">{{ "idioma.ingles" | translate }}</button>
</nav>

<router-outlet></router-outlet>
