<div class="compra" *ngIf="!comprarAhora">
  <div class="contenedor">
    <h1 class="titulo">{{ "resumen.compra" | translate }}</h1>
    <table class="tabla">
      <thead>
        <tr class="cabecera">
          <th>{{ "resumen.nombre" | translate }}</th>
          <th>{{ "resumen.precio" | translate }}</th>
          <th>{{ "resumen.accion" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let juego of juegos; let i = index">
        <tr class="columna">
          <td>{{ juego.nombre }}</td>
          <td>{{ juego.precio }}</td>
          <button class="eliminar" (click)="onDeleteItem(i)">{{ "resumen.eliminar" | translate }}</button>
        </tr>
      </tbody>
      <tfoot>
        <tr class="columna">
          <td>{{ "resumen.total" | translate }}</td>
          <td>{{ total }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="botones">
    <button class="boton" (click)="borrarCarrito()">{{ "resumen.borrar-carrito" | translate }}</button>
    <button class="boton" (click)="comprar()">{{ "resumen.comprar-ahora" | translate }}</button>
    <div class="error" *ngIf="isVacio">La cesta está vacía</div>
  </div>
</div>

<div class="comprar-ahora" *ngIf="comprarAhora && !mensaje">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="checkout-form">
    <label>{{ "resumen.nombre" | translate }}</label>
    <input type="text" formControlName="nombre" class="form-control" required placeholder="Introduce su nombre">

    <label>{{ "resumen.apellidos" | translate }}</label>
    <input type="text" formControlName="apellidos" class="form-control" required placeholder="Introduce sus apellidos">

    <label>{{ "resumen.direccion" | translate }}</label>
    <input type="text" formControlName="direccion" class="form-control" required placeholder="Introduce su dirección">

    <label>{{ "resumen.cp" | translate }}</label>
    <input type="text" formControlName="codigoPostal" class="form-control" required placeholder="Introduce su CP (00000)">

    <label>{{ "resumen.correo" | translate }}</label>
    <input type="email" formControlName="email" class="form-control" required placeholder="Introduce su email">

    <label>{{ "resumen.telefono" | translate }}</label>
    <input type="tel" formControlName="telefono" class="form-control" required placeholder="Introduce su teléfono">

    <button type="submit" (click)="checkout()" class="btn btn-primary" [disabled]="checkoutForm.invalid">
      {{ "resumen.finalizar" | translate }}
    </button>
  </form>
</div>

<div class="confirmacion-mensaje" *ngIf="mensaje">
  <div class="imagen-contenedor">
    <img class="imagen" src="../../../assets/img/gracias_por_su_compra.png" alt="Gracias por su compra">
  </div>
  <div class="confirmacion-texto">
    <p>{{ "resumen.gracias" | translate }} {{ checkoutForm.value.nombre }}{{ "resumen.pedido" | translate }}</p>
    <p>{{ "resumen.datos" | translate }}</p>
    <p>{{ "resumen.nombre" | translate }} {{ checkoutForm.value.nombre }}</p>
    <p>{{ "resumen.apellidos"| translate }} {{ checkoutForm.value.apellidos }}</p>
    <p>{{ "resumen.direccion" | translate }} {{ checkoutForm.value.direccion }}</p>
    <p>{{ "resumen.cp" | translate }} {{ checkoutForm.value.codigoPostal }}</p>
    <p>{{ "resumen.correo" | translate }} {{ checkoutForm.value.email }}</p>
    <p>{{ "resumen.telefono" | translate }} {{ checkoutForm.value.telefono }}</p>
  </div>
</div>


