<div class="compra" *ngIf="!comprarAhora">
  <div class="contenedor">
    <h1 class="titulo">{{ "resumen.compra" | translate }}</h1>
    <table class="tabla">
      <thead>
        <tr>
          <th>{{ "resumen.nombre" | translate }}</th>
          <th>{{ "resumen.precio" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngFor="let juego of juegos">
        <tr >
          <td>{{ juego.nombre }}</td>
          <td>{{ juego.precio }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>{{ "resumen.total" | translate }}</td>
          <td>{{ total }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="botones">
    <button class="boton" (click)="borrarCarrito()">{{ "resumen.borrar-carrito" | translate }}</button>
    <button class="boton" (click)="comprar()">{{ "resumen.comprar-ahora" | translate }}</button>
  </div>
</div>

<div class="compraAhora" *ngIf="comprarAhora">
  <form [formGroup]="checkoutForm" (ngSubmit)="checkout()" class="checkout-form">
    <label>
      Nombre:
      <input type="text" formControlName="nombre" class="form-control" required>
    </label>
    <label>
      Apellidos:
      <input type="text" formControlName="apellidos" class="form-control" required>
    </label>
    <label>
      Dirección:
      <input type="text" formControlName="direccion" class="form-control" required>
    </label>
    <label>
      Código Postal:
      <input type="text" formControlName="codigoPostal" class="form-control" required>
    </label>
    <label>
      Correo Electrónico:
      <input type="email" formControlName="email" class="form-control" required>
    </label>
    <label>
      Teléfono:
      <input type="tel" formControlName="telefono" class="form-control" required>
    </label>
    <button type="submit" class="btn btn-primary">Comprar Ahora</button>
  </form>

  <div class="confirmation-message" *ngIf="confirmationMessage">
    <h3>¡Gracias por su compra!</h3>
    <p>{{ confirmationMessage }}</p>
  </div>
</div>


