<!-- juego-rol.component.html -->

<div class="game-documentation">
  <h1>Nombre del Juego: Tierra Media: El Rol del Anillo</h1>

  <h2>Descripción:</h2>
  <p>"Tierra Media: El Rol del Anillo" es un juego de rol ambientado en el universo de "El Señor de los Anillos". Los jugadores se sumergen en la Tierra Media, exploran sus vastas tierras y se enfrentan a los desafíos que acechan en la oscuridad de Sauron. El juego se juega con 2 dados de 10 caras.</p>

  <h2>Sistema de Juego:</h2>
  <p>El juego utiliza un sistema de reglas basado en la mecánica de 2 dados de 10 caras (d10). La narrativa y la interpretación de personajes son fundamentales para el desarrollo de la historia. Cada tirada de dados influye en el éxito o fracaso de las acciones de los personajes.</p>

  <h2>Ambientación:</h2>
  <p>El juego está ambientado en la Tercera Edad de la Tierra Media, durante los eventos narrados en "El Señor de los Anillos". Los jugadores tienen la oportunidad de explorar lugares icónicos como la Comarca, Rivendel, Gondor, Rohan y Mordor, sumergiéndose en la rica historia del mundo creado por J.R.R. Tolkien.</p>

  <h2>Creación de Personajes:</h2>
  <p>Los jugadores pueden elegir entre diversas razas de la Tierra Media, como Hobbits, Elfos, Enanos y Hombres. Cada raza ofrece habilidades y ventajas únicas. Además, los personajes seleccionan una clase, como guerrero, mago, explorador, que determina sus habilidades y especializaciones en el juego.</p>

  <h2>Mecánicas de Juego:</h2>
  <p>El sistema de juego se basa en tiradas de 2 dados de 10 caras. Diferentes acciones y tareas tienen niveles de dificultad que influyen en el resultado de las tiradas. La interpretación de personajes y la toma de decisiones éticas son elementos clave, reflejando los temas fundamentales de la obra de Tolkien.</p>

  <h2>Narrativa:</h2>
  <p>La narrativa del juego sigue los eventos principales de "El Señor de los Anillos". Sin embargo, los jugadores tienen la libertad de explorar historias secundarias y crear sus propias aventuras dentro del mundo de la Tierra Media. Interactuarán con personajes icónicos y enfrentarán criaturas y enemigos característicos del universo de Tolkien.</p>

  <h2>Supervivencia y Exploración:</h2>
  <p>El juego incorpora elementos de supervivencia y exploración. Los personajes deben enfrentarse a peligros naturales y criaturas hostiles mientras viajan por la Tierra Media. La gestión de recursos, como alimentos, agua y refugio, es crucial para la supervivencia en este mundo lleno de desafíos.</p>

  <h2>Conclusión:</h2>
  <p>"Tierra Media: El Rol del Anillo" ofrece a los jugadores la oportunidad de sumergirse en el fascinante universo de "El Señor de los Anillos", explorando su rica historia y creando nuevas y emocionantes aventuras dentro de este épico escenario de fantasía.</p>
</div>
