<!-- juego-rol.component.html -->

<div class="game-documentation">
  <h1>{{"rol.nombre-juego" | translate}}</h1>

  <h2>{{"rol.descripcion" | translate}}</h2>
  <p>{{"rol.txt-descripcion" | translate}}</p>

  <h2>{{"rol.sistema-juego" | translate}}</h2>
  <p>{{"rol.txt-sistema-juego" | translate}}</p>

  <h2>{{"rol.ambientacion" | translate}}</h2>
  <p>{{"rol.txt-ambientacion" | translate}}</p>

  <h2>{{"rol.creacion" | translate}}</h2>
  <p>{{"rol.txt-creacion" | translate}}</p>

  <h2>{{"rol.mecanicas" | translate}}</h2>
  <p>{{"rol.txt-mecanicas" | translate}}</p>

  <h2>{{"rol.narrativa" | translate}}</h2>
  <p>{{"rol.txt-narrativa" | translate}}</p>

  <h2>{{"rol.exploracion" | translate}}</h2>
  <p>{{"rol.txt-exploracion" | translate}}</p>
</div>
