.contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedor {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.imagen {
  width: 400px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.juego-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.juego-detalle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #8B4513;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #6b3916;
}

label {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  font-size: 1rem;
  margin-bottom: 0;
}

.texto {
  text-align: justify;
  margin-bottom: 20px;
}
