<header>
  <nav class="navegacion">
    <li class="nav-item">
      <a routerLink="/juegos" routerLinkActive="active"
        ><i class="fas fa-home"></i> Inicio</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/historia-juegos" routerLinkActive="active"
        ><i class="fas fa-info"></i>Historia de los juegos</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/probando" routerLinkActive="active"
        ><i class="fas fa-cogs"></i> Servicios</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/contact" routerLinkActive="active"
        ><i class="fas fa-address-book"></i> Contacto</a
      >
    </li>
  </nav>
</header>
