@import url('https://fonts.googleapis.com/css2?family=Typia+Nesia+Std&display=swap');

.contenedor-inicio {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.texto {
  width: 50%;
  font-family: 'Typia Nesia Std', cursive;
}
